h1, .heading-1, h2, .heading-2, h3, .heading-3, h4, .heading-4, h5, .heading-5, h6, .heading-6 {
  font-family: var(--font-family-headings);
  margin-top: 0;
  line-height: 1.2em;

  &:not([class*="font-"]){
    font-weight: 500;
  }

  &:not([class*="m-"]):not([class*="mb-"]) {
    margin-bottom: var(--heading-margin);
  }
}

h1, .heading-1 {
  font-size: 2rem;

  @media (min-width: 1024px) {
    font-size: 3.5rem;
  }
}

h2, .heading-2 {
  font-size: 2rem;

  @media (min-width: 1024px) {
    font-size: 2.5rem;
  }
}

h3, .heading-3 {
  font-size: 1.5rem;

  @media (min-width: 1024px) {
    font-size: 2rem;
  }
}

h4, .heading-4 {
  font-size: 1.25rem;
  font-weight: 500;

  @media (min-width: 1024px) {
    font-size: 1.5rem;
  }
}

h5, .heading-5 {
  font-size: 1.125rem;

  @media (min-width: 1024px) {
    font-size: 1.25rem;
  }
}

h6, .heading-6 {
  font-size: 1rem;

  &:not([class*="font-"]){
    @apply font-semibold;
  }

  @media (min-width: 1024px) {
    font-size: 1.125rem;
  }
}

.heading-lg {
  font-size: 2rem;

  @media (min-width: 768px) {
    font-size: 4vw;
  }
}

p {
  font-size: 1.125rem;
  line-height: 1.7em;
  font-weight: 400;
  margin: 0;

  & + p {
    margin-top: 1.125rem;
  }

  &.small {
    font-size: 0.875rem;
  }

  &.large {
    font-size: 1.125rem;
  }

  @media (min-width: 1024px) {
    font-size: 1.25rem;

    &.large {
      font-size: 1.5rem;
    }
  }
}

.large {
  font-size: 1.125rem;

  @media (min-width: 1024px) {
    font-size: 1.5rem;
  }
} 

a.inline-link {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.7em;
  color: var(--text-primary);
  text-decoration: none;
  padding-bottom: 2px;
  position: relative;
  background-image: linear-gradient(var(--text-primary) 50%, transparent 50%);
  background-size: 100% 2px;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  display: inline-block;

  &:hover {
    animation: underline-hover 0.5s cubic-bezier(0.58, 0.3, 0.005, 1) 0s 1 normal none running;
  }

  @media (min-width: 1024px) {
    font-size: 1.125rem;
  }
}

.logo-heading {
  font-family: var(--font-family-body);
  margin: 0;
}

.unstyled-list {
  list-style-type: none;

  &:not([class*="p-"]):not([class*="m-"]) {
    padding: 0;
    margin: 0;
  }
}

@keyframes underline-hover {
  0% {
    background-size: 100% 2px;
    background-position: 100% 100%;
  }

  50% {
      background-size: 0 2px;
      background-position: 100% 100%;
  }
  50.01% {
      background-size: 0 2px;
      background-position: 0% 100%;
  }
  100% {
      background-size: 100% 2px;
      background-position: 0% 100%;
  }
}