.homeIntro {
  padding-top: var(--stacked-component-lg);

  @media (max-width: 767px) {
    padding-top: var(--stacked-component-sm);
    padding-bottom: var(--stacked-component-lg);
  }
}

.intro {
  min-height: calc(100vh - var(--header-height) - var(--stacked-component-lg));
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introText {
  max-width: 80ch;
  position: relative;
  z-index: 2;
}

.toolkit {
  margin-top: var(--stacked-component-lg);
  position: relative;
  z-index: 2;
}

.toolkitList {;
  li {
    display: inline-block;
    margin: 0;
    line-height: 1.7em;

    &:not(:last-child):after {
      content: '/';
      display: inline-block;
      margin: 0 1rem;
    }

    @media (min-width: 1024px) {
      font-size: 2rem;
    }
  }
}

.introVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  &:before {
    content: '';
    width: 100%;
    height: 40vh;
    background-image: linear-gradient(to top, var(--background-primary), transparent);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
  }

  video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: var(--video-opacity);
  }
}