.homeIntro {
  --animation-cubic: cubic-bezier(0.58, 0.3, 0.005, 1);

  padding: var(--stacked-component-lg) 0;

  @media (max-width: 768px) {
    padding-top: 0;
  }
}

.intro {
  min-height: calc(100vh - var(--header-height) - var(--stacked-component-lg) * 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introText {
  max-width: 80ch;
  position: relative;
  z-index: 2;
  /* opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.4s var(--animation-cubic), transform 0.4s var(--animation-cubic);

  &.fade-in {
    opacity: 1;
    transform: none;
    filter: none;
  } */
}

.toolkit {
  margin-top: var(--stacked-component-lg);
  position: relative;
  z-index: 2;

  /* opacity: 0;
  transition: opacity 0.4s var(--animation-cubic);

  @media (min-width: 1600px) {
    transition-delay: 0.5s;
  }

  &.fade-in {
    opacity: 1;
  } */
}

.toolkitList {;
  li {
    display: inline-block;
    margin: 0;
    line-height: 1.7em;

    &:not(:last-child):after {
      content: '/';
      display: inline-block;
      margin: 0 1rem;
    }

    @media (min-width: 1024px) {
      font-size: 2rem;
    }
  }
}

.introVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  &:before {
    content: '';
    width: 100%;
    height: 40vh;
    background-image: linear-gradient(to top, var(--background-primary), transparent);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
  }

  video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0.4;
  }
}