.workCard {
  @apply flex flex-col gap-[1.5rem];
  
  .row {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    gap: 0.75rem;
    border-bottom: 1px solid var(--border-primary);

    .heading-6 {
      margin: 0;
    }

    @media (min-width: 768px) {
      flex-direction: row;

      p:first-child {
        width: 30%;
      }

      p:last-child {
        width: 70%;
      }
    }
  }

  .urlList {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;

      & + li {
        margin-top: 0.5rem;
      }
    }
  }
}