.workCard {
  @apply flex flex-col gap-[1.5rem];
  
  .row {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    gap: 0.75rem;
    border-bottom: 1px solid var(--border-primary);

    .heading-6 {
      margin: 0;
    }

    @media (min-width: 768px) {
      flex-direction: row;

      p:first-child {
        width: 30%;
      }

      p:last-child {
        width: 70%;
      }
    }
  }

  .urlList {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;

      & + li {
        margin-top: 0.5rem;
      }
    }
  }

  .hoverContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(.455,.03,.515,.955);
  }

  @media (min-width: 768px) {
    &:hover, &:focus-visible {
      .hoverContent {
        opacity: 1;
      }
    }
  }
}