.themeToggle {
  width: 3rem;
  height: 1.5rem;
  border-radius: 1rem;
  background-color: var(--text-primary);
  padding: 3px;
  position: relative;
  cursor: pointer;

  .toggle {
    position: absolute;
    top: 3px;
    width: calc(1.5rem - 6px);
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: var(--background-primary);
    transition: left 0.2s ease, transform 0.2s ease;
  }
}

.darkActive {
  .toggle {
    left: 3px;
    transform: translateX(0);
  }
}

.lightActive {
  .toggle {
    left: calc(100% - 3px);
    transform: translateX(-100%);
  }
}