.themeToggle {
  width: 3.25rem;
  height: 1.75rem;
  border-radius: 1rem;
  background-color: var(--text-primary);
  padding: 3px;
  position: relative;
  cursor: pointer;

  .toggle {
    position: absolute;
    top: 3px;
    width: calc(1.75rem - 6px);
    aspect-ratio: 1/1;
    border-radius: 100%;
    color: var(--background-primary);
    transition: left 0.3s ease, transform 0.3s ease;
  }
}

.darkActive {
  .toggle {
    left: 3px;
  }

  .iconMoon {
    opacity: 1;
    transform: rotate(0deg) scale(1);
    transition: opacity 0.15s ease, transform 0.3s ease, left 0.3s ease;
  }

  .iconSun {
    opacity: 0;
    transform: rotate(-180deg) scale(0.6);
    transition: opacity 0.15s ease, transform 0.3s ease, left 0.3s ease;
  }
}

.lightActive {
  .toggle {
    left: calc(100% - 3px - (1.75rem - 6px));
  }

  .iconMoon {
    opacity: 0;
    transform: rotate(180deg) scale(0.6);
    transition: opacity 0.15s ease, transform 0.3s ease, left 0.3s ease;
  }

  .iconSun {
    opacity: 1;
    transform: rotate(0deg) scale(1);
    transition: opacity 0.15s ease, transform 0.3s ease, left 0.3s ease;
  }
}